<%= simple_form_for([@post, @post.comments.build]) do |f|%>

  <div class="form-inputs">
    <%= f.input :name, class: "form-control string" %>
    <%= f.rich_text_area :comment, class: "form-control string" %>
  </div>
  <div class="form-actions my-3">
    <%= f.button :submit, class:"btn btn-primary" %>
  </div>

<%end%>